<div class="especialista-container">
	<form [formGroup]="formAdmin" class="contenedor-form" (ngSubmit)="Registrar()">
		<h2>REGISTRO DE ADMINISTRADOR</h2>
		<div class="row">
			<div class="col-sm mb-3">
				<input formControlName="nombre" type="text" class="form-control" id="nombre" placeholder="Nombre"
					style="width: 100%;" />
				<small class="mensaje-error" *ngIf="
          formAdmin.get('nombre')?.invalid &&
          formAdmin.get('nombre')?.touched &&
          formAdmin.get('nombre')?.errors?.['pattern']">
					*Solo se permiten letras
				</small>
				<small class="mensaje-error" *ngIf="
          formAdmin.get('nombre')?.errors?.['required'] &&
          formAdmin.get('nombre')?.touched">
					*Debe rellenar este campo
				</small>
			</div>
			<div class="col-sm mb-3">
				<input formControlName="apellido" type="text" class="form-control" id="apellido" placeholder="Apellido" />
				<small class="mensaje-error" *ngIf="
      formAdmin.get('apellido')?.invalid &&
      formAdmin.get('apellido')?.touched &&
      formAdmin.get('apellido')?.errors?.['pattern']">
					*Solo se permiten letras
				</small>
				<small class="mensaje-error" *ngIf="
      formAdmin.get('apellido')?.errors?.['required'] &&
      formAdmin.get('apellido')?.touched">
					*Debe rellenar este campo
				</small>
			</div>
		</div>
		<div class="row">
			<div class="col-sm mb-3">
				<input formControlName="edad" type="number" class="form-control" placeholder="Edad" min="18" max="99" />
				<small class="mensaje-error"
					*ngIf="formAdmin.controls['edad'].errors?.['required'] && formAdmin.controls['edad'].touched">
					*Debe rellenar este campo
				</small>
				<small class="mensaje-error"
					*ngIf="formAdmin.controls['edad'].errors?.['min'] || (formAdmin.controls['edad'].errors?.['max'] && formAdmin.controls['edad'].touched)">
					*Debe ser entre 18 y 99 años
				</small>
			</div>
			<div class="col-sm mb-3">
				<input formControlName="dni" type="number" class="form-control" placeholder="N° DNI" min="11111111"
					max="99999999" />
				<small class="mensaje-error" *ngIf="
        formAdmin.controls['dni'].errors?.['required'] &&
        formAdmin.controls['dni'].touched">
					*Debe rellenar este campo
				</small>
				<small class="mensaje-error"
					*ngIf="formAdmin.controls['dni'].errors?.['min'] || (formAdmin.controls['dni'].errors?.['max'] && formAdmin.controls['dni'].touched)">
					*El DNI es inválido
				</small>
			</div>
		</div>
		<div>
			<div class="col-sm mb-3">
				<input formControlName="email" type="email" class="form-control" placeholder="Correo electrónico" />
				<small class="mensaje-error"
					*ngIf="formAdmin.controls['email'].errors?.['required'] && formAdmin.controls['email'].touched">
					*Debe rellenar este campo
				</small>
				<small class="mensaje-error"
					*ngIf="formAdmin.controls['email'].errors?.['email'] && formAdmin.controls['email'].touched">
					*El correo electrónico es inválido
				</small>
			</div>
			<div class="col-sm mb-3">
				<input formControlName="clave" type="password" class="form-control" placeholder="Contraseña" pattern=".{6,}"
					title="Debe tener como mínimo 6 caracteres" />
				<small class="mensaje-error" *ngIf="
          formAdmin.controls['clave'].errors?.['required'] &&
          formAdmin.controls['clave'].touched
        ">
					*Debe rellenar este campo
				</small>
				<small class="mensaje-error" *ngIf="
          formAdmin.controls['clave'].errors?.['pattern'] &&
          formAdmin.controls['clave'].touched
        ">
					*No cumple con la longitud mínima
				</small>
			</div>
			<div class="row mb-1">
				<div class="col-sm">
					<label for="file" style="font-size: 20px">Subida de imagen:</label>
					<input type="file" id="fileInput" name="foto" accept="image/*" multiple
						(change)="handleFileInputChange($event)" class="form-control text-success" formControlName="foto"
						required />
				</div>
			</div>
			<div class="row mb-3">
				<div>
					<re-captcha formControlName="captcha" (resolved)="resolved($event)" required siteKey="6LdwoR8pAAAAAIn9EVROYJgH3KWTK7NYVw3-27Wt"></re-captcha>
				</div>
			</div>
		</div>
		<div class="button-container">
			<button class="btn btn-cancelar" type="button" (click)="volver()">Cancelar</button>
			<button class="btn" type="submit">Registrar</button>
		</div>
	</form>
</div>

<div class="overlay" [ngClass]="{ 'show': loading }"></div>
<div class="heart" *ngIf="loading">
	<div></div>
</div>