<div class="background-image"></div>
<div class="heart" *ngIf="loading">
  <div></div>
</div>
<div class="overlay" [ngClass]="{ 'show': loading }"></div>
<div class="separador"></div>
<div class="main-container">
  <div class="perfil-usuario" *ngIf="esPaciente || esAdmin">
    <h3>{{ usuario?.nombre }} {{ usuario?.apellido }}</h3>
    <ngb-carousel *ngIf="esPaciente" #carousel [interval]="5000">
      <ng-template ngbSlide>
        <img class="img-perfil" src="{{ usuario?.fotos[0] }}" alt="imagen 1" />
      </ng-template>
      <ng-template ngbSlide>
        <img class="img-perfil" src="{{ usuario?.fotos[1] }}" alt="imagen 1" />
      </ng-template>
    </ngb-carousel>
    <div class="row row-1" *ngIf="authService.esPaciente">
      <div class="col">
        <label>Edad</label>
        <p>{{ usuario?.edad }} años</p>
        <label>DNI</label>
        <p>{{ usuario?.dni | dniFormateado }}</p>
        <button *ngIf="tieneHistorial" data-bs-toggle="modal" data-bs-target="#exampleModal" class="btn btn-success"
          (click)="verHistorialClinico()">
          Ver Historial Clínico
        </button>
      </div>
      <div class="col">
        <label>Email</label>
        <p>{{ usuario?.email }}</p>
        <label>Obra Social</label>
        <p>{{ usuario?.obraSocial }}</p>
        <label>Tipo de Usuario</label>
        <p>{{ usuario?.perfil }}</p>
        <br />
      </div>
    </div>

    <div class="row justify-content-md-center" *ngIf="authService.esAdmin">
      <div style="display: flex; justify-content: center">
        <img class="img-perfil" src="{{ usuario?.fotos[0] }}" alt="imagen 1" />
      </div>
      <div class="col">
        <label>Edad</label>
        <p>{{ usuario?.edad }} años</p>
        <label>DNI</label>
        <p>{{ usuario?.dni | dniFormateado }}</p>
      </div>
      <div class="col">
        <label>Email</label>
        <p>{{ usuario?.email }}</p>
        <label>Tipo de Usuario</label>
        <p>{{ usuario?.perfil }}</p>
      </div>
      <br />
      <p style="color: #ffff;" *ngIf="!tieneHistorial">No hay historial cliníco disponible</p>
    </div>
  </div>
</div>

<div class="perfil-especialista" *ngIf="authService.esEspecialista">
  <h3>{{ usuario?.nombre }} {{ usuario?.apellido }}</h3>
  <div style="display: flex; justify-content: center">
    <img class="img-perfil" src="{{ usuario?.fotos[0] }}" alt="imagen 1" />
  </div>

  <div class="row" *ngIf="esEspecialista">
    <div class="col col-3">
      <label>Edad</label>
      <p>{{ usuario?.edad }} años</p>
      <label>DNI</label>
      <p>{{ usuario?.dni | dniFormateado }}</p>
    </div>
    <div class="col col-4">
      <label>Email</label>
      <p>{{ usuario?.email }}</p>
      <label>Especialidad/es</label>
      <p>
        <span *ngFor="let esp of usuario?.especialidad">{{ esp.nombre }} </span>
      </p>

      <label>Seleccione su Especialidad</label>
      <div class="especialidades">
        <button class="btn btn-especialidad" [ngClass]="especialidad1 ? 'btn-info' : ''"
          (click)="mostrarTurnosPrimera()">
          {{ usuario?.especialidad[0]?.nombre }}
        </button>
        <button *ngIf="usuario?.especialidad[1]" class="btn btn-especialidad"
          [ngClass]="especialidad2 ? 'btn-info' : ''" (click)="mostrarTurnosSegunda()">
          {{ usuario?.especialidad[1].nombre }}
        </button>
      </div>
    </div>
    <div class="col col-5 col-horarios">
      <label>Mis Horarios</label>
      <div class="dias-contenedor">
        <button class="btn btn-success" [ngClass]="lunes ? 'btn-warning' : ''" (click)="agregarDia('lunes')">
          Lunes
        </button>
        <button class="btn btn-success" [ngClass]="martes ? 'btn-warning' : ''" (click)="agregarDia('martes')">
          Martes
        </button>
        <button class="btn btn-success" [ngClass]="miercoles ? 'btn-warning' : ''" (click)="agregarDia('miércoles')">
          Miércoles
        </button>
        <button class="btn btn-success" [ngClass]="jueves ? 'btn-warning' : ''" (click)="agregarDia('jueves')">
          Jueves
        </button>
        <button class="btn btn-success" [ngClass]="viernes ? 'btn-warning' : ''" (click)="agregarDia('viernes')">
          Viernes
        </button>
        <button class="btn btn-success" [ngClass]="sabado ? 'btn-warning' : ''" (click)="agregarDia('sábado')">
          Sábado
        </button>
      </div>
      <label style="margin-top: 1rem; margin-bottom: 1rem">Duración de Turno (min)</label>
      <input class="form-control" type="number" placeholder="30 Minutos" [(ngModel)]="duracionTurno" />
      <button style="margin-top: 1rem" class="btn btn-success" (click)="actualizarUsuario()">
        Guardar Cambios
      </button>
    </div>
  </div>
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" style="margin: 0 auto;">
    <div class="modal-content" style="background-color: #7dc9f6; color: #000000;">
      <div class="modal-header">
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <button type="button" class="btn btn-danger"
          style="margin-bottom: 1rem;display: block;margin-left: auto;margin-right: auto;"
          [disabled]="!tieneHistorialFiltrado" (click)="crearPDF()">
          Descargar PDF  <i class="fa-solid fa-file fa-beat" style="color: #f5f3f3;"></i>
        </button>
        <label style="font-size: 1rem; font-weight: bolder; margin-right: 2rem">BUSCAR PROFESIONAL:
        </label>
        <input class="input-busqueda" type="text" [(ngModel)]="palabraBusqueda"
          (input)="filtrarHistorialClinico(palabraBusqueda)" placeholder="Ingrese al especialista..." />
        <div id="pdf">
          <p style="text-align: right; font-size: 1rem">
            {{ fechaActual | diaFormateado }}
          </p>
          <div style="display: flex; align-content: center; margin-bottom: 2rem">
            <img src="/assets/favicon.png" style="width: 100px" alt="logo" />
            <h2 style="text-align: center;font-size: 1.5rem;font-weight: bolder;padding-top: 2rem;margin-left: 2rem;"
              id="exampleModalLabel">
              CLÍNICA ONLINE
            </h2>
          </div>
          <h1 style="text-align: center; font-size: 2rem">
            HISTORIAL CLÍNICO DE
            <span style="text-transform: uppercase; font-weight: bolder">{{ usuario?.apellido }} {{ usuario?.nombre
              }}</span>
          </h1>
          <h3 *ngIf="!tieneHistorialFiltrado" style="text-align: center; color: rgb(121, 0, 0)">
            No se encontró historial clínico del paciente con el especialista seleccionado.
          </h3>
          <div *ngFor="let historial of historialClinicoFiltrado" class="carta-historial">
            <h3 style="background-color: #7dc9f6;">
              INFORME -
              <span style="text-transform: uppercase">{{
                historial?.especialidad
                }}</span>
              - {{ historial?.fecha | diaFormateado }}
            </h3>
            <hr />
            <p style="text-decoration: underline;">
              <span style="text-decoration: underline;">A cargo de </span>{{ historial?.especialista?.apellido }},
              {{ historial?.especialista?.nombre }}
            </p>
            <p>Altura: {{ historial?.detalle?.altura }}</p>
            <p>Peso: {{ historial?.detalle?.peso }}</p>
            <p>Temperatura: {{ historial?.detalle?.temperatura }}</p>
            <p>Presión: {{ historial?.detalle?.presion }}</p>
            <p><span style="text-decoration: underline;">Datos adicionales: </span></p>
            <p *ngIf="historial?.detalleAdicional?.clave1">
              {{ historial?.detalleAdicional?.clave1 }}:
              {{ historial?.detalleAdicional?.valor1 }}
            </p>
            <p *ngIf="historial?.detalleAdicional?.clave2">
              {{ historial?.detalleAdicional?.clave2 }}:
              {{ historial?.detalleAdicional?.valor2 }}
            </p>
            <p *ngIf="historial?.detalleAdicional?.clave3">
              {{ historial?.detalleAdicional?.clave3 }}:
              {{ historial?.detalleAdicional?.valor3 }}
            </p>
            <hr />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>