<div class="background-image"></div>
<div class="heart" *ngIf="loading">
    <div></div>
</div>
<div class="overlay" [ngClass]="{ 'show': loading }"></div>
<div class="separador"></div>
<div class="main-container">
    <div class="perfil-usuario" *ngIf="esPaciente || esAdmin" >
        <h3>{{ usuario?.nombre }} {{ usuario?.apellido }}</h3>

        <ngb-carousel *ngIf="esPaciente" #carousel [interval]="5000">
            <ng-template ngbSlide>
                <img class="img-perfil" src="{{ usuario?.fotos[0] }}" alt="imagen 1" />
            </ng-template>
            <ng-template ngbSlide >
                <img class="img-perfil" src="{{ usuario?.fotos[1] }}" alt="imagen 1" />
            </ng-template>
          </ngb-carousel>


            <div class="row row-1" *ngIf="authService.esPaciente">
                <div class="col">
                    <label>Edad</label>
                    <p>{{ usuario?.edad }} años</p>
                    <label>DNI</label>
                    <p>{{ usuario?.dni }}</p>
                </div>
                <div class="col">
                    <label>Email</label>
                    <p>{{ usuario?.email }}</p>
                    <label>Obra Social</label>
                    <p>{{ usuario?.obraSocial }}</p>
                    <label>Tipo de Usuario</label>
                    <p>{{ usuario?.perfil }}</p>
                    <br />
                </div>
            </div>

            <div class="row justify-content-md-center" *ngIf="authService.esAdmin">
                <div style="display: flex; justify-content: center">
                    <img class="img-perfil" src="{{ usuario?.fotos[0] }}" alt="imagen 1" />
                </div>
                <div class="col">
                    <label>Edad</label>
                    <p>{{ usuario?.edad }} años</p>
                    <label>DNI</label>
                    <p>{{ usuario?.dni }}</p>
                </div>
                <div class="col">
                    <label>Email</label>
                    <p>{{ usuario?.email }}</p>
                    <label>Tipo de Usuario</label>
                    <p>{{ usuario?.perfil }}</p>
                </div>
            </div>
        </div>
    </div>

    <div class="perfil-especialista" *ngIf="authService.esEspecialista">
        <h3>{{ usuario?.nombre }} {{ usuario?.apellido }}</h3>
        <div style="display: flex; justify-content: center">
            <img class="img-perfil" src="{{ usuario?.fotos[0] }}" alt="imagen 1" />
        </div>

        <div class="row" *ngIf="esEspecialista">
            <div class="col col-3">
                <label>Edad</label>
                <p>{{ usuario?.edad }} años</p>
                <label>DNI</label>
                <p>{{ usuario?.dni }}</p>
            </div>
            <div class="col col-4">
                <label>Email</label>
                <p>{{ usuario?.email }}</p>
                <label>Especialidad/es</label>
                <p>
                    <span *ngFor="let esp of usuario?.especialidad">{{ esp.nombre }} </span>
                </p>

                <label>Seleccione su Especialidad</label>
                <div class="especialidades">
                    <button class="btn btn-especialidad" [ngClass]="especialidad1 ? 'btn-info' : ''"
                        (click)="mostrarTurnosPrimera()">
                        {{ usuario?.especialidad[0]?.nombre }}
                    </button>
                    <button *ngIf="usuario?.especialidad[1]" class="btn btn-especialidad"
                        [ngClass]="especialidad2 ? 'btn-info' : ''" (click)="mostrarTurnosSegunda()">
                        {{ usuario?.especialidad[1].nombre }}
                    </button>
                </div>

            </div>
            <div class="col col-5 col-horarios">
                <label>Mis Horarios</label>
                <div class="dias-contenedor">
                    <button class="btn btn-success" [ngClass]="lunes ? 'btn-warning' : ''" (click)="agregarDia('lunes')">
                        Lunes
                    </button>
                    <button class="btn btn-success" [ngClass]="martes ? 'btn-warning' : ''" (click)="agregarDia('martes')">
                        Martes
                    </button>
                    <button class="btn btn-success" [ngClass]="miercoles ? 'btn-warning' : ''" (click)="agregarDia('miércoles')">
                        Miércoles
                    </button>
                    <button class="btn btn-success" [ngClass]="jueves ? 'btn-warning' : ''" (click)="agregarDia('jueves')">
                        Jueves
                    </button>
                    <button class="btn btn-success" [ngClass]="viernes ? 'btn-warning' : ''" (click)="agregarDia('viernes')">
                        Viernes
                    </button>
                    <button class="btn btn-success" [ngClass]="sabado ? 'btn-warning' : ''" (click)="agregarDia('sábado')">
                        Sábado
                    </button>
                </div>
                <label style="margin-top: 1rem; margin-bottom: 1rem">Duración de Turno (min)</label>
                <input class="form-control" type="number" placeholder="30 Minutos" [(ngModel)]="duracionTurno" />
                <button style="margin-top: 1rem" class="btn btn-success" (click)="actualizarUsuario()">
                    Guardar Cambios
                </button>
            </div>
        </div>
    </div>