@import url('https://fonts.googleapis.com/css2?family=Barlow&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

.especialista-container
{
  display:flex;
  max-height: fit-content;
}

.contenedor-form {
  font-family: "Montserrat", sans-serif;
  width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: fit-content;
  padding: 1rem 2rem 2rem 3rem;
  border: 2px solid #fff;
  border-radius: 1rem;
  background: #7ecffc;
  box-shadow: 2px 2px 2px #000;
  h2 {
    font-family: 'Barlow', sans-serif;
    text-align: center;
    font-weight: 900;
    border-radius: 1rem;
    margin-top: 0px;
    margin-bottom: 30px;
  }
}

.contenedor-especialidad {
  font-family: 'Barlow', sans-serif;
  width: fit-content;
  display: block;
  margin-left: auto;
  margin-right: auto;
  height:auto;
  padding: 0rem 2rem 2rem 3rem;
  border-radius: 1rem;
  background: transparent;
  h2 {
    text-shadow: 2px 2px 2px #000;
    text-align: center;
    color: #fff;
    border-radius: 1rem;
    margin-top: 0px;
    margin-bottom: 30px;
  }
}

.button-container {
  display: flex;
  justify-content: center;
}

.button-container button {
  margin: 0 5px;
}

.btn {
  border-radius: 8px;
  color: #f1faee;
  background-color: #22b687;
  transition: all 0.3s ease 0s;
}

.btn:hover {
  background-color: #f19100;
  box-shadow: 0px 15px 20px #975b00;
  color: white;
  transform: translateY(-7px);
}

.btn:active {
  transform: translateY(-1px);
}

.mensaje-error{
  color: crimson;
  font-weight: bolder;
  font-size: small;
  border-radius: 5px;
}

.btn-cancelar {
  background-color: crimson;
}

.captcha{
  font-size: 2rem;
  text-align: center;
  color: rgb(0, 0, 0);
  background: #22b687;
  padding: 0.6rem;
  border-radius: 10px;
  text-transform: uppercase;
  font-weight: bolder;
  text-shadow: 1px 1px 1px #fff;
  border: solid 3px #fff;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); 
    z-index: 999; 
    display: none; 
}

.overlay.show {
    display: block;
}


.heart {
    background-color: crimson;
    display: inline-block;
    width: 100px;
    height: 100px;
    position: relative;
    top: 0;
    transform: rotate(-45deg);
    position: absolute;
    left: 45%; 
    top: 45%;
    animation: heartbeat 1.25s infinite;
  }
  
  .heart::before,
  .heart::after {
    content: "";
    background-color: crimson;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    animation: pulsecolor 1.25s infinite;
  }
  
  .heart::before {
    top: -50px;
    left: 0;
  }
  
  .heart::after {
    top: 0;
    left: 50px;
  }
  
  @keyframes heartbeat {
    0% {
      transform: scale(1)
                 rotate(-45deg);
      }
    10% {
      transform: scale(1.25)
                 rotate(-45deg);
      background-color: #EF395E;
      }
    100% {
        transform: scale(1)
                   rotate(-45deg);
    }
  }
  
  @keyframes pulsecolor {
    10% {
    background-color: #EF395E;
    }
  }