<div class="background-image">
    <div class="container">
        <div class="card text-center flip-in-hor-top">
            <h4 class="card-title">ERROR</h4>
            <p class="card-subtitle">La ruta especificada no existe.</p>
            <br>
            <img class="card-img-top mx-auto" [src]="'/assets/iconos/mensaje-de-error.png'">
            <div class="card-body">
                <a class="login-button ingresar-button"
                    [routerLink]="'/home'">
                    <i class="fas fa-door-open fa-beat"></i> Regresar a home
                </a>
            </div>
        </div>
    </div>
</div>